<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--  para que se ponga en negrita cuando este en el link routerLinkActive="active" routerLink="/lenguajes" enlace al componente -->
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/home" class="nav-link">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/lenguajes" class="nav-link">Lenguajes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/about" class="nav-link">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" role="search">
            <input #termino (keyup.enter)="buscar(termino.value)" class="form-control mr-sm-2" type="search"
                placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button"
                (click)="buscar(termino.value)">Buscar</button>
        </form>
    </div>
</nav>