<div class="col text-center">
    <h1>Resultados</h1>
    <div class="row justify-content-center">
        <!-- otra forma de ruta src="{{rutaImagen(item.imagen)}}" -->

        <div *ngFor="let lenguaje of lenguajesConID" class=" card col-10 col-sm-6 col-md-4 col-lg-3 m-1 text-justify">

            <app-lenguaje-tarjeta (botonPulsado)="verTarjeta($event)" [lenguaje]="lenguaje.item"
                [rutaImagen]="rutaImagen(lenguaje.item.imagen)" [id]="lenguaje.id">
            </app-lenguaje-tarjeta>

        </div>
    </div>